body {
  background: linear-gradient(135deg,#43cea2,#185a9d);
  font-family: Arial;
}

.card, .container {
  width: 350px;
  margin: 60px auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
}

input, button {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
}

button {
  background: #4caf50;
  color: white;
  border: none;
}
